<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>ShibbolethAuthLime</name>
        <type>plugin</type>
        <creationDate>2020-05-04</creationDate>
        <last_update>2020-05-06</last_update>
        <author>Leandro Campos</author>
        <authorEmail>leandrobhbr@gmail.com</authorEmail>
        <authorUrl>https://github.com/leandrobhbr/ShibbolethAuthLimeSurvey/</authorUrl>
        <version>1.0.0</version>
        <license>GNU General Public License version 3 or later</license>
        <description><![CDATA[LimeSurvey Shibboleth auth plugin to LimeSurvey 4+.]]></description>
    </metadata>

    <compatibility>
        <version>4.0</version>
        <version>5.0</version>
        <version>6.0</version>
        <version>7.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
